.container .new-tweet{
  background-color:#EEE;
  border-radius: 10px;
  padding: 1em;
  margin: 2em;

}

.container textarea{
  width:100%;
  padding:5px;

}

.container .counter{
  float:right;
  text-align:right;
}

.container .compose{
  text-align:left;
  border-bottom: 1px solid black;
  margin-top:8px;
}


